site_name: CivicTech Waterloo Region
# Theme configuration
theme:
  name: material
  custom_dir: docs/overrides
  features:
  #  - navigation.instant
  #  - navigation.tabs
  #  - navigation.sections
  #  - navigation.breadcrumbs
  #  - navigation.indexes
  #  - search.suggest
  #  - search.highlight

    
  palette:
    primary: white
    accent: indigo
  font:
    text: "Roboto"
    code: "Roboto Mono"
  logo: assets/civictechwr_logo_white.png
  favicon: assets/civictechwr_logo_white.png
plugins:
  - search
  - awesome-pages
  - minify
  #  - social
  - blog:
      post_date_format: full
      archive: true
      archive_name: Older Posts
      archive_date_format: MMMM yyyy
      post_excerpt: optional
      # pagination_per_page: 1
      # pagination_format: "$link_first $link_previous $link_next $link_last"


nav:
  # - index.md # I dont think we want the index right now as it seems to be the error page
  - Blog:
    - blog/index.md

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  

extra:
  base_url: "https://civictechwr.github.io/CTWR-Organization-Documentation/" # TODO: make this a environment variable
  # base_url: "http://127.0.0.1:8000"
#  homepage: https://civictechwr.org
#  copyright: Copyright &copy; CivicTechWR
#  social:
#    - icon: fontawesome/brands/github
#      link: https://github.com/CivicTechWR
#    - icon: fontawesome/brands/slack
#      link: https://join.slack.com/t/civictechwr/shared_invite/zt-2hk4c93hv-DEIbxR_z1xKj8cZmayVHTw
#    - icon: fontawesome/brands/instagram
#      link: https://instagram.com/civictechwr
#    - icon: fontawesome/brands/x-twitter
#      link: https://twitter.com/civictechwr
#    - icon: fontawesome/brands/facebook
#      link: https://facebook.com/civictechwr
#    - icon: fontawesome/solid/envelope
#      link: mailto:civictechwr@gmail.com

extra_css:
  - assets/css/base.css # Base styles
  - assets/css/components.css # Component-specific styles
  - assets/css/overrides.css # Theme overrides
  - assets/css/footer/footer.css # CSS for the footer
  - assets/css/header.css # CSS for the footer
  - assets/css/footer/bootstrap-icons.css # CSS for the
