/* Base.css: Reset and global styles */

/* Typography */
:root {
    --font-family-base: 'DM Sans', sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.6;
    --color-primary: #2D6F72; /* Emphasize CivicTechWR green */
    --color-secondary: #000000; /* Dark for contrast */
    --color-light: #ffffff; /* White background */
    --color-text: #717275; /* Subtle text color */
    --color-border: #e9eaeb; /* Neutral border color */
}

.md-header {/* override the original white colour and black text */
    background-color:#000000;
    color: #ffffff;
}

.md-header--shadow{
    box-shadow: none; /* override the original shadow */
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-text);
    background-color: var(--color-light);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--color-secondary);
    margin: 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-secondary);
}

/* Utility Classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.section-padding {
    padding: 4rem 0;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--color-primary);
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #2D6F72, #ffffff);
    color: var(--color-light);
    text-align: center;
    padding: 60px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 36px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    color: #f9f9f9;
}

.hero a {
    color: var(--color-light);
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid var(--color-light);
    border-radius: 5px;
    text-decoration: none;
}

.hero a:hover {
    background-color: var(--color-light);
    color: var(--color-primary);
}